@mixin imgGlitch($name, $intensity, $width, $height, $top, $left) {
  
  $steps: $intensity;

    // We need two different ones
    @for $i from 1 through 2 {
      @keyframes #{$name}-anim-#{$i} {
        @for $i from 0 through $steps {
          #{percentage($i*(1/$steps))} {
            clip: rect(
              random($height)+px,
              $width+px,
              random($height)+px,
              0
            );
          }
        }
      }
    }

  

}

@mixin fineTuneGlitch($name, $top, $left) {
   > img {
    /*position: absolute;*/
    top: $top+px;
    left: $left+px;
  }
  > img:nth-child(2),
  > img:nth-child(3){
    clip: rect(0, 0, 0, 0); 
  }
  > img:nth-child(2) {
    left: ($left + 2) + px;
    animation: #{$name}-anim-1 2s linear alternate-reverse;

  }
  > img:nth-child(3) {
    left: ($left - 2) + px;
    animation: #{$name}-anim-2 3s linear alternate-reverse;

  }
}


/* 
  (IMAGE) PARAMS
  =================
  @mixin imgGlitch($name, $intensity, $width, $height, $top, $left)
  =================
  1. Namespace
  2. Intensity
  3. Width (px)
  4. Height (px)
  5. Top (px, abs pos)
  6. Left (px, abs pos)
*/
@include imgGlitch("HRNLogo", 15, 100, 100, 22, 60);


/* 
  (FINE TUNE) PARAMS
  =================
  @mixin finetuneGlitch($name, $top, $left)
  =================
  1. Namespace
  5. Top (px, abs pos)
  6. Left (px, abs pos)
*/
#HeaderLogoContainer {
  @include fineTuneGlitch("HRNLogo", 22, 60);
}

